@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  margin: 0;
}

.email-template-container {
  flex-direction: column;
  max-width: 512px;
  width: calc(100% - 40px);
}
